@font-face {
    font-family: "Teslagraf";
    src: url("../fonts/PPTelegraf-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: Teslagraf;
}
img, button, .logo{
    user-select: none;
}

header {
    width: 99vw;
    height: 100vh;
    background-image: url("../src/bg-patinhas.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}
.text-content{
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 20vh;
    width: 45vw;
}
.text-content h1{
    font-size: 5rem;
}
.text-content h3{
    font-size: 2.5rem;
}
.logo{
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-bottom: 7vh;
    gap: 5px;
}
.logo img{
    width: 45px;
}
.welcome{
    display: flex;
    flex-direction: column;
}


.social button{
    font-size: 1rem;
    cursor: pointer;
    font-weight: bold;
    background-color: #000;
    border: #E5E900 1px solid;
    outline: none;
    padding: 10px 20px;
    transition: all 1s ;
}
.social button:hover{
    background-color: #002a36;
    border: #ffffff 1px solid; 
}
.social div{
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-top: 5vh;
}
.social img{
    cursor: pointer;
    width: 50px;
}



.midia-content{
    width: 45vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.style{
    transform: scaleY(-1);
    transform: scaleX(-1);
    width: 35vw;
    position: absolute;
    left: 53%;
}
.cone{
    z-index: 999;
    position: absolute;
    width: 10vw;
    left: 59%;
    top: 50%;
    object-fit: cover;
}
.pets{
    width: 25vw;
    height: 25vw;
    object-fit: cover;
    z-index: 99;
    border-radius: 100%;
    transition: all 1s;
}
.pets:hover{
    width: 25.5vw;
    height: 25.5vw;
}

.see-more{
    top: 90%;
    width: 35px;
    height: 27px;
    position: absolute;
    filter: invert(1);
    z-index: 999999;
    animation: arrow 1s infinite;
}

@keyframes arrow {
    0%{
        top: 90%;
    }
    50%{
        top: 92%;
    }
    100%{
        top: 90%;
    }
}

@media (max-width: 768px) {
    .logo{
        position: absolute;
        top: 0;
        left: 0;
        margin: 30px;
    }
    header{
        width: 100vw;
        padding-bottom: 12vh;
        flex-direction: column-reverse;
    }
    .style{
        width: 55vw;
        left: 20%;
    }
    .cone{
        width: 23vw;
        top: 25%;
        left: 25%;
    }
    .text-content{  
        margin-top: 8vh;
    }
    .text-content h1{
        font-size: 3rem;
    }
    .text-content h3{
        font-size: 1rem;
    }
    .pets{
        width: 45vw;
        height: 45vw;
    }
    .pets:hover{
        width: 45vw;
        height: 45vw;
    }
    .social{
        gap: 5px;
        bottom: 10%;
        position: absolute;
    }
    .social div{
        margin-top: 1vh;
    }
}